code {
  font-size: .82em;
}

.nav-footer {
  box-shadow: none !important;
  background: none !important;
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}

.copyright {
  color: #393939 !important;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
